<!DOCTYPE html>
<html>
<head>
  <title>Teachercenter Letter</title>
  <style type='text/css'>
    body {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 12pt;
      line-height: 18pt;
      margin: 14px;
    }

    .letter {
      color: #021C3B;
      padding: 25px;
      width: 576px;
      height: 792px;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
<div class="letter">
  <p><%= params["salutation"] %></p>
  <p class="letter-copy"><%= params["copy"].html_safe %></p>
  <p><%= params["closing"] %></p>
  <p><%= params["signed"] %></p>

</div>
</body>
</html>
