<!DOCTYPE html>
<html>
<head>
  <title>Teachercenter Letter</title>
</head>
<body>
<div class="letter">
  <p><%= params["salutation"] %></p>
  <p class="letter-copy"><%= params["copy"].html_safe %></p>
  <p><%= params["closing"] %></p>
  <p><%= params["signed"] %></p>

</div>
</body>
</html>
