<div class="center">
  <div id="projectURL">
    <p>Paste your project</p>
    <p>URL Here!</p>
  </div>
  <div class="arrow"></div>
  <form>
    <input type="text" name="donors_url" placeholder="http://">
    <input type="submit" name'submit' value="Get Started!" id="getStarted">
  </form>

  <div class="row">
    <h2>Get your project funded here!</h2>
  </div>
  <div class="row" id="infoBoxes">
    <div class="fourcol">
      <h3>Info box 1</h3>
      <p>Easy Steps!</p>
    </div>
    <div class="fourcol">
      <h3>Info box 2</h3>
      <p>Analytics</p>
    </div>
    <div class="fourcol last">
      <h3>Info box 3</h3>
      <p>Other useful info</p>
    </div>
  </div>
</div>