<div class="center">
  <div id="projectURL" class="information">
    <p>PASTE YOUR PROJECT</p>
    <p>URL TO GET STARTED!</p>
  </div>
  <div class="arrow"></div>
  <form>
    <input type="text" name="donors_url" placeholder="http://">
    <input type="submit" name'submit' value="Get Started!" id="getStarted" class="button">
  </form>

  <div class="row">
    <h2 class="pitch-text">Get your project funded faster here!</h2>
  </div>
  <div class="row" id="infoBoxes">
    <div class="fourcol" id="info-1">
      <h3>Info box 1</h3>
      <p>Easy Steps!</p>
    </div>
    <div class="fourcol" id="info-2">
      <h3>Info box 2</h3>
      <p>Analytics</p>
    </div>
    <div class="fourcol last" id="info-3">
      <h3>Info box 3</h3>
      <p>Other useful info</p>
    </div>
  </div>
</div>