<div class="center">
  <div id="projectURL" class="information">
    <p>PASTE YOUR PROJECT</p>
    <p>URL TO GET STARTED!</p>
  </div>
  <div class="arrow"></div>
  <%= form_tag projects_path, :method=>'post', id: "new_project" do %>
    <%= text_field_tag "project_url", nil, placeholder: "http://" %>
    <%= submit_tag 'Submit', value: "Get Started!", id: "getStarted", class: "button"%>
    <div id="login_help">
      <% unless current_user %>
        or <%= link_to "Login", new_user_session_path %> to get your current project
      <% end %>
    </div>
  <% end %>

  <div class="row" id="infoBoxes">
    <div class="fourcol" id="info-1">
      <h3>One place to promote your project.</h3>
    </div>
    <div class="fourcol last" id="info-3">
      <h3>See if your project is on track.</h3>
    </div>
    <div class="fourcol" id="info-2">
      <h3>Watch clicks turn into donations.</h3>
    </div>
  </div>
</div>
