<div class="center">
  <div style="float:left;">
    <div id="projectURL">
      <p>Paste your project</p>
      <p>URL Here!</p>
    </div>
  </div>
  <div style="float:right;">
    <div class="arrow"></div>
  </div>
  <input type="text" name="donors_url" placeholder="http://">
</div>
