<div class="center">
  <div id="projectURL" class="information">
    <p>PASTE YOUR PROJECT</p>
    <p>URL TO GET STARTED!</p>
  </div>
  <div class="arrow"></div>
  <% if flash[:notice] %>
    <div class="alert alert-error">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%= form_tag projects_path, :method=>'post' do %>
    <%= text_field_tag "project_url" %>
    <%= submit_tag 'Submit', :value => "Get Started!", :id => "getStarted", :class => "button"%>
  <% end %>

  <div class="row">
    <h2 class="pitch-text">Get your project funded faster here!</h2>
  </div>
  <div class="row" id="infoBoxes">
    <div class="fourcol" id="info-1">
      <h3>Quick and Easy</h3>
      <p>One place to promote your project everywhere</p>
    </div>
    <div class="fourcol" id="info-2">
      <h3>Click Tracking</h3>
      <p>Measure who is coming to your project page</p>
    </div>
    <div class="fourcol last" id="info-3">
      <h3>Analytics</h3>
      <p>See if you're on track to fund your project</p>
    </div>
  </div>
</div>
