<div>
  <%= link_to "Send An Email", "mailto:?subject=My Donors Choose Project&body=#{pt.description} #{pt.short_url }", :class =>"task-button doer popuplarge", :id=>"#{pt.id}", :target =>"_blank" %>
</div>
