<div class="email_instructions"> 
  <h2 class="call_to_action">Send an Email</h2>

  <a href="mailto:?subject=My Donors Choose Project&body=<%= pt.description %> <%= pt.short_url %>" class="tiny-button doer" id="<%= pt.id %>" target="_blank">Do</a>
</div> 
