<div>
  <%= link_to "Post on Facebook", "http://www.facebook.com/sharer.php?u=#{pt.short_url}&t=#{pt.description}", :class =>"task-button doer popupsmall", :id=> "#{pt.id}", :target => "_blank" %>
</div>