<<<<<<< Updated upstream
<a href="#" class="tiny-button doer" id="<%= pt.id %>" target="_blank">Do</a>
=======
<div>
  <a href="#" class="task-button doer" id="<%= pt_id %>" target="_blank">Generate a Letter</a>
</div>
>>>>>>> Stashed changes
