<<<<<<< Updated upstream
<a href="http://printandshare.org/proposals/pdf/<%= dc_id %>" class="tiny-button doer" id="<%= pt.id %>" target="_blank">Do</a>
=======
<a href="http://printandshare.org/proposals/pdf/<%= dc_id %>" class="task-button doer" id="<%= pt_id %>" target="_blank">Generate a Flyer</a>
>>>>>>> Stashed changes
