<<<<<<< Updated upstream
<a href="http://twitter.com/share?text=<%= pt.description %> <%= pt.short_url %>" class="tiny-button doer" id="<%= pt.id %>" target="_blank">Do</a>
=======
<a href="http://twitter.com/share?text=body" class="task-button doer" id="<%= pt_id %>" target="_blank">Post a Tweet</a>
>>>>>>> Stashed changes
