<div class="threecol" id="project_info">

  <h2 class="title"><%= @project.title %></h2>

  <div id="classroom_image">
    <%=image_tag @project.image_url %>
  </div>

  <div id="project-description">
    <%= @project.description %>
  </div>
</div>

<div class="eightcol" id="project_status_bar">
  <div id="progressbar"></div>
  <div id="task_list">
    
  </div>
</div>
