$fontColor: #021C3B;
$fontFamily: "ff-enzo-web", Helvetica, sans-serif;

@media print {
  body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 18pt;
    margin: 14px;
  }

  .letter {
    color: #021C3B;
    padding: 25px;
    width: 576px;
    height: 792px;
    word-wrap: break-word;
  }
}


.letter-copy {
  font-size: 25px;
  color: $fontColor;
  font-family: $fontFamily;
}

.letter {
  padding: 25px;
}

.salutation {
  font-size: 30px;
  color: $fontColor;
  font-family: $fontFamily;
}

.closing {
  text-align: center;
  font-size: 30px;
  color: $fontColor;
  font-family: $fontFamily;
}
