$darkblue: #32455e;
$mediumblue: #5581d9;
$fontColor: #021C3B;


#project_title{ 
  margin-top: -50px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
  font-family: "ff-dagny-web-pro";
}

#project_info{
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 40px;
}

.percentage{ 
  font-size: 54px;
  font-weight: 600;
}

.days_left{ 
  font-size: 54px;
  font-weight: 600;
}

#hero_item{
  margin: 50px;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  border: 3px solid $darkblue;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
  text-align: center;
}

#tasks{
  margin-top: 25px;
  height: 565px;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0;
  border: 1px solid #efefef;
  margin: 0 30px 0px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#tasks:after, #tasks:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  height: 55%;
}
#tasks:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

.task_lists{
  margin-top: 25px;
  margin-left: 25px;
}

#new_tasks{
  margin-left:20px;
  margin-bottom: 10px;
  border-bottom: 2px dashed;

  ul {
       list-style-type: none;
       padding-bottom: 10px;
    }

  li {
    font-family: "skippy-sharp";
    font-size: 32px;
    display: inline-block;
  }
}

#completed_tasks{
  li {
    .task-medium {
      display: inline-block;
      text-decoration: line-through;
    }
  }

  ul{
    list-style-type: none;
  }
}

#percent_funded, #percent_through {
  font-size: 24px;
}

.hide {
  display: none;
}

#charts {
  margin-left: 50px;
  display: block;
}

#links {
  text-align: center;
  .link {
    display: inline-block;
    margin: 10px;
  }
}
