$darkblue: #32455e;
$mediumblue: #5581d9;

#project_info{
  position:relative;
  background-image: url('crumpled-paper.jpg');
  margin-top: -45px;
  margin-left: 25px;
  padding: 0;
  border: 1px solid #efefef;
  margin: 0 30px 30px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#project_info:after, #project_info:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg)
}
#project_info:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

#classroom_image{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;

  img{
    height: 210px;
    width: 210px;
    border-radius: 5px;
    border: 3px solid $darkblue;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);

  }
}

.title{
  margin-top: 15px;
  font-family: "skippy-sharp";
  font-weight: 300;
  font-size: 36px;
  text-align: center;
}

#project-description{
  margin-left: 15px;
  margin-bottom: 15px;
  width: 200px;
  font-family: "skippy-sharp";
  font-weight: 600;
  font-size: 24px;
  color: $darkblue;
  border: 3px transparent;
  border-radius: 4px;
  padding: 5px;
}

#countdown{
  margin-top: -50px;
  margin-bottom: 25px;
}
.ui-progressbar .ui-progressbar-value {
  background-image: url("status-bar.png");
}

#tasks{
  margin-top: 25px;
  height: 565px;
  background-image: url('crumpled-paper.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0;
  border: 1px solid #efefef;
  margin: 0 30px 30px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#tasks:after, #tasks:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  max-height: 100px;
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-15deg) rotate(-6deg);
  -moz-transform: skew(-15deg) rotate(-6deg);
  -ms-transform: skew(-15deg) rotate(-6deg);
  -o-transform: skew(-15deg) rotate(-6deg);
  transform: skew(-15deg) rotate(-6deg)
}
#tasks:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(15deg) rotate(6deg);
  -moz-transform: skew(15deg) rotate(6deg);
  -ms-transform: skew(15deg) rotate(6deg);
  -o-transform: skew(15deg) rotate(6deg);
  transform: skew(15deg) rotate(6deg);
}

.task_lists{
  margin-top: 25px;
  margin-left: 25px;
}

#new_tasks{
  margin-left:20px;
  margin-bottom: 10px;
  border-bottom: 2px dashed;

  ul {
       list-style-type: none;
       padding-bottom: 10px;
    }

  li {
    font-family: "skippy-sharp";
    font-size: 32px;
  }
}

#completed_tasks{
  li {
  text-decoration: line-through;
  }

  ul{
    list-style-type: none;
  }
}
