$projectURLRotation: -20deg;
$paperScrap: url('crumpled-paper.jpg');
$orange: #FFA545;
$redColor: #d42132;
$darkblue: #32455e;
$mediumblue: #5581d9;

#projectURL{
  background-image: $paperScrap;
  position:absolute;
  margin-top:0px;
  -webkit-transform: rotate($projectURLRotation);
  -moz-transform: rotate($projectURLRotation);
  text-align: center;
  color: $darkblue;
  font-size:2em;
  padding:5px;
  height: 100px;
  width: 325px;
  overflow-y: visible;
  overflow-x: visible;
}
.arrow {
  background-image: url("curved_arrow.png");
  height: 181px;
  width: 165px;
  top: -30px;
  left: 280px;
  position: relative;
}
#getStarted {
  float:right;
  width:240px;
}

#infoBoxes{
  margin-top:50px;
  margin-bottom: 25px;
  font-family: "skippy-sharp";
  font-size: 36px;
  color: $mediumblue;
  h3, p {
  color: $darkblue;
  }
}

h2 #infoBoxes{ 
  color: #021C3B;
}

#info-1{ 
  background-image: $paperScrap;
  height: 250px;
  width: 250px;
  
} 

#info-2{ 
  background-image: $paperScrap;
  height: 250px;
  width: 250px;
}

#info-3{ 
  background-image: $paperScrap;
  height: 250px;
  width: 250px;
}

